<style>
    body {
        padding-top: 20%;
        text-align: center;
    }
</style>

<div class="starter-template">
    <h1>Not Found</h1>
    <p class="lead">Oops, couldn't find that page :-(</p>
</div>
