

<div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">This document as a standard bootstrap 3 project.<br> All you get is this text and your custom content beneath it.</p>
</div>
<div>
    {{ content }}
</div>